@model IEnumerable<Finance_HD.Models.FiaBangKeNopTien>

@{
    ViewData["Title"] = "Bảng kê nộp tiền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-3">
    <div class="card-header bg-primary text-white">Lọc dữ liệu</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                <input type="datetime-local" class="form-control form-control-sm custom-datetime" id="TuNgay" name="TuNgay" />
            </div>

            <div class="form-group col-md-2">
                <input type="datetime-local" class="form-control form-control-sm custom-datetime" id="DenNgay" name="DenNgay" />
            </div>

            <div class="form-group col-md-2">
                <select class="form-control form-control-sm" id="Branch" name="Branch"></select>
            </div>

            <div class="form-group col-md-3">
                <button class="btn btn-secondary btn-sm mr-2" id="btnXem"><i class="fas fa-eye"></i> Xem</button>
                <button class="btn btn-success btn-sm" id="btnXuatExcel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
            </div>
        </div>


    </div>
</div>

<div class="card shadow mb-3">
    <div class="card-header bg-primary py-3 d-flex flex-row align-products-center justify-content-between">
        <h6 class="m-0 text-white">@ViewData["Title"]</h6>
        <div class="arrow">
            <a class="btn btn-link btn-sm text-white" href="/CashDeposit/Add">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="TableDanhSachBangKe" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th hidden>Mã</th>
                    <th>Số Phiếu</th>
                    <th>Chi nhánh nộp </th>
                    <th>Chi nhánh nhận</th>
                    <th>Phòng ban nhận</th>
                    <th>Ngày lập</th>
                    <th>Ngày nộp</th>
                    <th>Người nộp</th>
                    <th>Địa chỉ</th>
                    <th>Nội dung</th>
                    <th>Người nhận</th>
                    <th>Ghi chú</th>
                    <th>Tiền</th>
                    <th>Tỷ giá</th>
                    <th>Hình thức</th>
                    <th>Số tiền</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-3">
            <div class="card-header bg-primary">
                <h6 class="m-0 text-white">Chi tiết bảng kê nộp tiền</h6>
            </div>
            <div class="card-body">
                <table id="TableChiTietBangKe" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th hidden>Mã</th>
                            <th>Loại tiền</th>
                            <th>Số lượng </th>
                            <th>Thành tiền</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-3">
            <div class="card-header bg-primary">
                <h6 class="m-0 text-white">Chi tiết nhân viên</h6>
            </div>
            <div class="card-body">
                <table id="TableChiTietNhanVien" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th hidden>Mã</th>
                            <th hidden>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/bangkenoptien/bangkenoptien.js"></script>
    <style>

        .table thead th {
            font-size: 14px;
            font-weight: bold;
            background-color: #007bff;
            color: white;
            text-transform:uppercase;
        }

        .table tbody td {
            color: #333;
        }

        #TableChiTietBangKe tfoot {
            background-color: #007bff;
            font-weight: bold;
            color: white;
        }

            #TableChiTietBangKe tfoot th {
                border-top: 2px solid #dee2e6;
                padding: 10px;
            }

        .form-group {
            display: flex;
            align-items: center;
            margin-right: 20px; /* Khoảng cách giữa các form-group */
        }

            .form-group label {
                margin-right: 10px; /* Khoảng cách giữa label và input */
            }

        .custom-datetime {
            width: 200px; /* Điều chỉnh kích thước ô input */
        }

        .label-top-padding{
            padding-top:8px
        }
    </style>
}
