@model IEnumerable<Finance_HD.Models.FiaDeNghiChi>

@{
    ViewData["Title"] = "Đề nghị chi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">Lọc dữ liệu</h5>
    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="TuNgay" class="mr-2">Từ ngày</label>
                <input type="datetime-local" class="form-control form-control-sm" id="TuNgay" name="TuNgay" />
            </div>
            <div class="form-group col-md-3">
                <label for="DenNgay" class="mr-2">Đến ngày</label>
                <input type="datetime-local" class="form-control form-control-sm" id="DenNgay" name="DenNgay" />
            </div>
            <div class="form-group col-md-3">
                <label for="Branch" class="mr-2">Chi Nhánh Đề Nghị</label>
                <select class="form-control form-control-sm" id="Branch" name="Branch"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <button class="btn btn-secondary btn-sm mr-2" id="btnXem"><i class="fas fa-eye"></i> Xem</button>
                <button class="btn btn-warning btn-sm mr-2"><i class="fas fa-print"></i> In phiếu đề nghị</button>
                <button class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Xuất Excel</button>
            </div>
        </div>
    </div>

</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-products-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h5>
        <div class="arrow">
            <a class="btn btn-link btn-sm" href="/ExpenseRequest/Add">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="Table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th hidden>Mã</th>
                    <th>Ngày</th>
                    <th>SỐ PHIẾU </th>
                    <th>ĐƠN VỊ ĐỀ NGHỊ </th>
                    <th>BỘ PHẬN ĐỀ NGHỊ </th>
                    <th>NGƯỜI LẬP </th>
                    <th>ĐƠN VỊ CHI </th>
                    <th>BỘ PHẬN CHI </th>
                    <th>SỐ TIỀN ĐỀ NGHỊ </th>
                    <th>ĐƠN VỊ TIỀN </th>
                    <th>TỶ GIÁ </th>
                    <th>NGÀY YÊU CẦU NHẬN </th>
                    <th>NỘI DUNG </th>
                    <th>HÌNH THỨC </th>
                    <th>GHI CHÚ </th>
                    <th>TRẠNG THÁI</th>
                    <th>NGƯỜI CHI</th>
                    <th>NGÀY CHI</th>
                    <th>SỐ TIỀN CHI</th>
                    <th>CHỨC NĂNG</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Modal Xác Nhận -->
    <div class="modal fade" id="modelDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Xóa Danh Mục</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa danh mục này?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnDelete" class="btn btn-danger">Xoá danh mục</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/denghichi/denghichi.js"></script>
    <style>

        .table thead th {
            font-size: 14px;
            font-weight: bold;
            background-color: #007bff;
            color: white;
        }

        .table tbody td {
            color: #333;
        }

    </style>

}
