@model IEnumerable<Finance_HD.Models.FiaDeNghiChi>

@{
    ViewData["Title"] = "Đề nghị chi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="m-0 font-weight-bold">Lọc dữ liệu</h5>
    </div>
    <div class="card-body">
        <div class="form-row align-items-center">
            <div class="form-group col-md-2">
           @*      <label for="TuNgay" class="font-weight-bold">Từ ngày</label> *@
                <input type="datetime-local" class="form-control form-control-sm" id="TuNgay" name="TuNgay" />
            </div>
            <div class="form-group col-md-2">
              @*   <label for="DenNgay" class="font-weight-bold">Đến ngày</label> *@
                <input type="datetime-local" class="form-control form-control-sm" id="DenNgay" name="DenNgay" />
            </div>
            <div class="form-group col-md-2">
           @*      <label for="Branch" class="font-weight-bold">Chi Nhánh Đề Nghị</label> *@
                <select class="form-control form-control-sm" id="Branch" name="Branch"></select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary btn-sm mr-2" id="btnXem"><i class="fas fa-eye"></i> Xem</button>
                <button class="btn btn-warning btn-sm mr-2" id="btnXuatPDF"><i class="fas fa-print"></i> In phiếu đề nghị</button>
                <button class="btn btn-success btn-sm" id="btnXuatExcel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
            </div>

        </div>
       
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-primary">
        <h5 class="m-0 font-weight-bold text-white ">@ViewData["Title"]</h5>
        <a class="btn btn-link btn-sm text-white" href="/ExpenseRequest/Add">
            <i class="fas fa-plus"></i> Thêm đề nghị
        </a>
    </div>
    <div class="card-body">
        <table id="Table" class="table table-bordered table-hover table-striped">
            <thead >
                <tr>
                    <th hidden>Mã</th>
                    <th>Ngày</th>
                    <th>Số phiếu</th>
                    <th>Đơn vị đề nghị</th>
                    <th>Bộ phận đề nghị</th>
                    <th>Người lập</th>
                    <th>Đơn vị chi</th>
                    <th>Bộ phận chi</th>
                    <th>Số tiền đề nghị</th>
                    <th>Đơn vị tiền</th>
                    <th>Tỷ giá</th>
                    <th>Ngày yêu cầu nhận</th>
                    <th>Nội dung</th>
                    <th>Hình thức</th>
                    <th>Ghi chú</th>
                    <th>Trạng thái</th>
                    <th>Người chi</th>
                    <th>Ngày chi</th>
                    <th>Số tiền chi</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dữ liệu sẽ được thêm ở đây bằng JavaScript -->
            </tbody>
        </table>
    </div>

    <!-- Modal Xác Nhận -->
    <div class="modal fade" id="modelDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Xóa Danh Mục</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa danh mục này?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnDelete" class="btn btn-danger">Xóa danh mục</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/denghichi/denghichi.js"></script>
    <link rel="stylesheet" href="./css/global.css" />
  
}
