.table thead th {
    font-size: 14px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

.table tbody td {
    color: #333;
}

.btn-custom {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 11px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.d-flex > h6 {
    margin-right: 5px;
}

.d-flex > input {
    margin-right: 5px;
}

.btn-custom:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn-custom:active {
    transform: scale(0.95);
}

#TableChiTietBangKe tfoot {
    background-color: #007bff;
    font-weight: bold;
    color: white;
}

    #TableChiTietBangKe tfoot th {
        border-top: 2px solid #dee2e6;
        padding: 10px;
    }

.total-amount {
    font-weight: bold; /* Chữ đậm */
    font-size: 18px; /* Kích thước chữ lớn hơn */
    margin-top: 10px; /* Khoảng cách trên */
}

#currency {
    font-weight: bold; /* Chữ đậm */
    font-size: 18px;
}

.currency-unit {
    font-style: italic; /* Chữ nghiêng */
    color: #666; /* Màu chữ nhạt */
}
.form-group {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Khoảng cách giữa các form-group */
}

    .form-group label {
        margin-right: 10px; /* Khoảng cách giữa label và input */
    }

.custom-datetime {
    width: 200px; /* Điều chỉnh kích thước ô input */
}

.label-top-padding {
    padding-top: 8px
}

.action .btn {
    border-radius: 20px; /* Đặt giá trị bo tròn ở đây (20px là ví dụ, có thể điều chỉnh) */
    padding: 8px 16px; /* Điều chỉnh padding cho nút */
    font-weight: bold; /* Bolding cho văn bản trong nút */
}

    /* Optional: Thay đổi màu nền và màu chữ khi di chuột */
    .action .btn:hover {
        opacity: 0.9; /* Giảm độ trong suốt khi hover */
    }
label {
    font-weight: bold;
}